* {
    font-family: "Times New Roman", serif;
    background-color: #ffffff;
    color: #000000;
}

.button{
    text-align:center;
    outline: solid #000000;
    background-color: rgb(225, 180, 2);
    color: #000000;
    width: 100px;
    height: 20px;
    margin-right: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    outline: solid #000000;
    width: 500px;
    height: auto;
    margin: 20px auto;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 25px;
}

.home {
    color: hsl(280, 84%, 37%);
    font-size: 21px;
}

p,li {
    font-size: 20px;
}

.latest {
    background-color: rgb(225,180,2);
    color: white;
    border: solid black;
    width: 300px;
    text-align: center;
}

.media{
    display: flex;
    align-items: flex-start;
}

.media .content{
    flex:1;
    padding: 10px;
}

.navbar {
    display: flex;
}

.recipe-heading {
    font-size: 50px;
    text-align: center;
    background-color: #000000;
    color: white;
    width: 500px;
    height: auto;
    margin: 20px auto;
}

